<h1>Ingresa ahora!</h1>

<form id="registerForm">
    <label>Email</label>
    <input name="email">
    <br/>
    <label>Contraseña</label>
    <input name="password">
    <br/>
    <input type="summit">
</form>

<script src="/src/public/img/js/login.js"></script>